 
@font-face {
    font-family: "Cyklop";
    src: local("☺"), url("Cyklop-Italic.otf") format("opentype");
}
#header {
    margin: 18px 0 0;
}
#links a {
    color: #9ACD32;
    font: bold 20px arial,sans-serif;
}
#logo {
    font: italic bold 30px arial,sans-serif;
    margin-bottom: 1px;
}
#logo a {
    color: #FF4500;
    text-decoration: underline;
}
#logo a:focus, #logo a:hover, #links a:focus, #links a:hover {
    color: #FFA07A;
}
section#posts {
    color: blue;
    margin-top: 50px;
    width: 70%;
}
section#projekty {
    color: yellow;
}
header#header_home {
    color: blue;
}
footer#page_footer {
    clear: both;
    color: blue;
    display: block;
    text-align: center;
    width: 100%;
}
.post {
    color: blue;
}
html {
    background-color: #FFE4B5;
    height: 100%;
    margin: 0 auto 0 44px;
}
.site {
    background-color: #FFFFE0;
}
.title {
    background-color: #FFFFE0;
    padding: 18px 0 0;
    position: relative;
}
.title a {
    color: #FF2C2B;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 28px;
}
#home, #post {
    border-color: #888888;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    padding-top: 22px;
}
#home h1 {
    font-size: 140%;
    font-style: italic;
}
#post h1 {
    color: #FF2C2B;
    font-size: 180%;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 22px;
}
#post h2, #post h3, #home h1 {
    color: #489690;
}
#home ul li {
    list-style: none outside none;
}
a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited, a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
    padding: 2px 16px 2px 0;
}
blockquote {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #F2F1D6;
    color: #880000;
    font-family: "DejaVu Sans",sans-serif;
    font-size: 90%;
    font-style: normal;
    margin-left: 572px;
    margin-top: 6px;
    padding: 18px 22px 0;
    position: absolute;
    width: 253px;
}
blockquote img {
    display: block;
    margin: 0 auto 12px;
}
blockquote p.author {
    color: #880000;
    font-style: italic;
    margin-top: -1em;
    padding-right: 44px;
    text-align: right;
}
h2 {
    border-bottom: 2px dotted #489690;
    font-size: 140%;
    padding-bottom: 2px;
}
h2, h3 {
    color: #489690;
}
code {
    border: 1px solid #403B33;
    margin: 0 2px;
    padding: 0.06em 0.125em;
}
pre code {
    border: medium none;
}
pre {
    border-left: 9px solid #FD9945;
    margin-left: -49px;
    padding: 0 0 0 49px;
}
caption {
    text-align: right;
}
li ul {
    margin-bottom: 1.5em;
}

