@font-face {
    font-family: "Cyklop";
    src: local("☺"), url("Cyklop-Italic.otf") format("opentype");
}
#header {
    margin: 18px 0 0;
}
#links a {
    font: bold 20px arial,sans-serif;
}
#logo {
    font: italic bold 256% arial,sans-serif;
    margin-bottom: 1px;
}
#logo a {
    clear: both;
    color: #FF4500;
    display: block;
    text-align: center;
    text-decoration: underline;
}
#logo a:focus, #logo a:hover, #links a:focus, #links a:hover {
    color: #FFA07A;
}
section#posts {
    color: blue;
    width: 100%;
}
section#Projekty {
    color: blue;
    padding-top: 5%;
}
section#content {
    -moz-border-radius: 10% 10% 10% 10%;
    color: black;
}
header#header_home {
    color: yellow;
}
footer#page_footer {
    clear: both;
    color: #A9A9A9;
    display: block;
    margin-top: 50%;
    text-align: center;
    width: 100%;
}
.post {
    color: black;
}
ol {
    color: #999999;
    font: italic 1em Georgia,Times,serif;
}
ol a {
    color: #000000;
    font: 0.8em Arial,Helvetica,sans-serif;
}
ol p {
    color: #000000;
    font: 0.8em Arial,Helvetica,sans-serif;
}
ul#cfl-menu a {
    background: url("images/cfl_link.gif") repeat scroll 0 0 #D2B48C;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: normal;
    margin-bottom: 7%;
    padding: 1% 4% 2%;
    text-align: center;
    text-decoration: none;
    width: 20%;
}
ul#cfl-menu a:hover, ul#cfl-menu a:focus, ul#cfl-menu a:active {
    background: url("images/cfl_linkback.gif") repeat scroll 0 0 #D2B48C;
    color: yellow;
    letter-spacing: 0.3em;
}
html {
    background-color: #FFE4B5;
    height: 100%;
    margin: 0 auto 0 44px;
    width: 100%;
}
.site {
    background-color: #FFFFE0;
    height: 150%;
    width: 60%;
}
#home, #post {
    -moz-border-radius: 6% 6% 6% 6%;
    border-color: #888888;
    border-style: ridge;
    border-width: 1px 0 1px 1px;
    padding-top: 23px;
}
#home h1 {
    font-size: 116%;
    font-style: italic;
}
#post h1 {
    color: #FF2C2B;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 14%;
}
#post h2, #post h3, #home h1 {
    color: #489690;
}
#home ul li {
    list-style: none outside none;
}
a[href^="http:"], a[href^="mailto:"], a[href^="http:"]:visited, a[href$=".pdf"], a[href$=".doc"], a[href$=".xls"], a[href$=".rss"], a[href$=".rdf"], a[href^="aim:"] {
}
blockquote {
    -moz-border-radius: 10px 10px 10px 10px;
    background: none repeat scroll 0 0 #F2F1D6;
    clear: none;
    color: #880000;
    display: block;
    float: right;
    font-family: "DejaVu Sans",sans-serif;
    font-size: 100%;
    font-style: normal;
    margin-bottom: 100px;
    padding: 4% 2% 2%;
    text-align: right;
    width: 28%;
}
blockquote img {
    display: block;
    margin: 0 auto 17px;
}
blockquote p.author {
    color: #880000;
    font-style: italic;
    margin-top: -1em;
    padding-right: 44px;
    text-align: right;
}
h1 {
    border-bottom: 2px none;
    font-size: 100%;
    padding-bottom: 2px;
}
h2, h3 {
    background: none repeat scroll 0 0 transparent;
    clear: none;
    color: #A0522D;
    display: block;
    margin: -5% 1% 1% -1;
    padding: 3%;
    text-align: left;
}
article#Post {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    color: #A0522D;
    display: block;
    float: left;
    margin: 3% 7% 8% 6;
    padding: 0%;
    text-align: right;
    width: 399%;
}
code {
    border: 1px solid #403B33;
    margin: 0 2px;
    padding: 0.06em 0.125em;
}
pre code {
    border: medium none;
}
pre {
    border-left: 9px solid #FD9945;
    margin-left: -49px;
    padding: 0 0 0 49px;
}
caption {
    text-align: right;
}
li ul {
    margin-bottom: 2px;
}

