<!DOCTYPE html>

<html lang="pl">
<head>
   <meta charset="utf-8">
   <title>{{ page.title }}</title>
   <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></	 script>
    <![endif]-->
    <!-- <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script> -->
   <meta name="author" content="Aneta" />
   <link href="http://sigma.inf.ug.edu.pl/~amieszczanek/blog/atom.xml" rel="alternate" 
         title="Sobieska Aneta" type="application/atom+xml" />

   <link rel="stylesheet" href="css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="css/blog.css" type="text/css" media="screen, projection" />
</head>
<body>

<!--  showgrid -->

<header id="page_header">
  	<h1>Klara@blog</h1>
   <nav >
       <ul id="menu">
         <a href="/~amieszczanek/blog/kontakt.html">Kontakt</a>
         <a href="/~amieszczanek/blog/oautorze.html">O Mnie</a>
         <a href="/~amieszczanek/blog">Klara@blog</a
       </ul>
    </nav>
</header>
  
<section id="content2">

  {{ content }}
  
</section>

<footer id="page_footer"> 
	<hr></hr>
   <p>&copy; 2011 Sobieska Aneta </p>
</footer>
  
</body>
</html>
